main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
}
nav{
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #BDBDBD;
  padding-left: 50px;
  padding-right: 50px;
}
nav > span{
  width: 90px;
  padding: 15px;
  text-align: center;
}
.active{
  width: 90px;
  border-bottom: 4px solid #2F80ED;
  border-radius: 4px 4px 0px 0px;
}

input[type="text"]{
  width: 30rem;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
}
.searchBar{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.searchButton{
  color: #ffffff;
  background-color: #2F80ED;
  padding: 10px;
  border-radius: 12px;
  border: 0;
  width: 5rem;
}
.todo_items{
  margin-top: 10px;
  margin-left: -450px;
}
.todo_list{
  padding: 5px;
}